* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.viewport {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.primercontainer {
  display: flex;
  border: solid 1px black;
  height: 80px;
  width: 100%;
}

.containerprimerlogo {
  display: flex;
  width: 50%;
  height: 100%;
}

.primerlogo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 50px;
  height: 100%;
}
.containernavegacion {
  display: flex;
  justify-content: space-evenly;
  margin-top: 26px;
  width: 100%;
  margin-bottom: 100px;
}

a:visited {
  color: black;
}

a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

a:active {
  color: rgba(6,10,36,0.56);
  text-decoration: line-through;
}

a {
  display: flex;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration-line: none;
  font-family: "IBMPlexMono", monospace;

}

.contenedorhamburguesa {
  width: 100%;
  flex-direction: column;
}

.menu-desplazable {
  display: none;
  height: 224px;
  width: 100%;
  background-color: #0000EC;
  cursor: pointer;
  transition: all .4s ease;
  transform: translate(100%);
}

.container-burger {
  visibility: hidden;
}

#burger{
  visibility: hidden;
}

.menu-contenido {
  width: 100%;
  height: 224px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

.menu-contenido > lu {
  margin-left: 20px;
}

lu:hover {
 width: 100%;
 height: 50px;
 background-color: white;
 opacity: 0.6;
 color: pink;
 display: inline-block;
 vertical-align: middle;
}

 :root {
  font-size: 10px;

}

#burger {
  visibility: hidden;

}

.container-burger {
  height: 30px;
  width: 30px;
  padding: 0.1rem;
  cursor: pointer;
  border: 1px solid;
  position: relative;
  float: right;
  margin-top: -70px;
  margin-right: 20px;
}

.linea {
  height: 10%;
  width: 75%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.linea-top {
  top: 25%;
}

.linea-low {
  /* transform: translate(-50%, -50%); */
  top: 75%;
}

.custom-checkbox:checked + .label-burger .container-burger .linea-med {
  opacity: 0
}
.custom-checkbox:checked + .label-burger .container-burger .linea-top {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: black;
}

.custom-checkbox:checked + .label-burger .container-burger .linea-low {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color:black;
}
.containertituloprincipal {
  width: 100%;
  height: 50%;
  display: flex;
  margin-top: 30px;
  border: solid black 1px;
  
}

.TituloPrincipal {
  font-size: 64px;
  color: #060a24;
  letter-spacing: 0;
  height: 100%;
  width: 100%;
  font-family: "IBMPlexSans", sans-serif;
  margin-left: 200px;

}

.containerprimerparrafo {
  display: flex;
  height: 50%;
  width: 100%;
  margin-top: 16px;
  border: solid black 1px;

}

.primerparrafo {
  width: 63%;
  height: 100%;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 200px;

  }

.contenedorBotonConoceMas {
   height: 100%;
   width: 100%;
   margin-top: 56px;
  display: flex;
  
}

.botonConoceMas {
  width: 15%;
  height: 56px;
  font-size: 18px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  background-color: #00f3bb;
  font-family: "IBMPlexMono", monospace;
  border: none;
  margin-left: 200px;

}

.botonConoceMas:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8);

}

.containerpoligonoyepisodios {
  display: flex;
  height: 1042px;
  margin-top: 5px;
  border: solid black 1px;

}

.poligono {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1042px;
  clip-path: polygon(0 10%, 100% 0%, 100% 85%, 0 100%);
  background-color: blue;
  z-index: -1;

}

.containerepisodio {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  
}

.episodio {
  height: 62px;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: "IBMPlexSans", sans-serif;
  margin-left: 200px;
  margin-top: 186px;

}

.containerpodcast {
  width: 100%;
  height: 50%;
  display: flex;
  
  
  border: 1px solid black;
}

.podcast {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 85%;
  
  
  margin-left: 100px;
  
}

.contenedor-imgytexto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  border: solid 1px black;

}

.contenedorimgtlf {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: 30%;
  height: 660px;
  position: relative;
  top: -200px;
  border: 1px solid black;

}

.contenedorsegundotituloyparrafo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-top: 20.4px;
  border: solid 1px black;
  margin-left: 62.4px;
  
}

h3 {
  display: flex;
  font-family: "IBMPlexSans", sans-serif;
  font-size: 30px;
  color: #060a24;
  opacity: 100%;
  letter-spacing: 0;
  height: 62px;
  width: 50%;
}

.contenedorparrafo2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 204px;
  width: 70%;
}

p {
  display: flex;
  font-family: "IBMPlexMono", monospace;
  
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
}

.contenedorInvitadas-estelares {
  display: flex;
  height: 62px;
  margin-top: 64px;
  margin-left: 200px;
  margin-bottom: 36px;
  border: solid 1px black;
}

div.contenedorInvitadas-estelares h3 {
  display: flex;
  width: 100%;
  height: 62px;
  font-size: 48px;
  color: #060a24;
  letter-spacing: 0;
  font-family: "IBMPlexSans", sans-serif;
  
}

.galeriadeimagenes {
  display: flex;
  width: 100%;

}

#filadefotos {
  display: flex;
  
}

#segundafiladefotos {
  display: flex;
  
}

.contenedorAlgunosdenuestrostemas {
  display: flex;
  height: 62px;
  margin-left: 200px;
  margin-top: 64px;
  margin-right: 654px;
  border: solid 1px black;

}

h4 {
  display: flex;

  font-family: "IBMPlexSans", sans-serif;
  font-size: 40px;
  color: #060a24;
  letter-spacing: 0;
  width: 100%;
}

#contenedordeiconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 200px;
  margin-right: 200px;
  
  
  
  border: solid 1px black;
}

.descripcionIcono {
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  justify-content: center;
  font-family: 'IBMPlexSans', sans-serif;
  
 }

#contenedordelsegundopoligono {
  height: 518px;
  width: 100%;
  margin-top: 34px;
  border: 1px solid black;
  
}

.poligono2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
  background-color: blue;
  z-index: 1;

}

.ContenedorQueresLasUltimasNovedades {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 213px;
 
}

.contenedordelbotonEscuchaLosEpisodios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-bottom: 151px;

}

.ContenedorQueresLasUltimasNovedades p:nth-child(1) {
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-family: 'IBMPlexSans', sans-serif;
  
}

.contenedordelbotonEscuchaLosEpisodios button {
  
  height: 56px;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  background: #00F3BB;
  font-family: "IBMPlexMono", monospace;
  border: none;

}

.contenedorFinal {
  display: flex;
  width: 100%;
  
}

.contenedorDelA単o {
  width: 100%;
 
}

#A単odeLanzamiento {
  width: 100%;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 36px;
  margin-left: 100px;
  margin-bottom: 31px;
  font-family: "IBMPlexMono", monospace;
    
} 

.contenedorRedesSociales {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.redesSociales {
  margin: 20px;

  }



/*modo celular*/

@media screen and (max-width: 1396px) and (min-width: 801px) {

  .poligono {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
    background-color: blue;
    height: 100%;

  }

  .episodio {
    margin-left: 16px;
    margin-top: 64px;
    width: 100%; 
  }

  .containerpodcast {
    height: 100%;
    
  }

  .podcast {
    margin-left: 11px;
    height: 100%;
    
  }

 
    
  .contenedor-imgytexto {
    flex-wrap: nowrap;
  }

  .contenedorimgtlf {
    position: relative;
    top: -80px;
    
    height: 519px;
    width: 360px;
    margin: auto;
    
  }

  .contenedorsegundotituloyparrafo {
    margin-top: 27px;
    margin-left: 16px;
   
    width: 100%;
    
    
  }

  .contenedorparrafo2 {
    margin-top: 8px;
    height: 50%;
    width: 288px;
  }

  #filadefotos {
    flex-direction: column;
    
    
  }

  #segundafiladefotos {
    flex-direction: column;
    
  }

  .imagen {
    width: 100%;
    
   }

  .contenedorAlgunosdenuestrostemas {
    margin-left: 16px;
    width: 100%;
  }

  .contenedordeiconos {
    margin-top: 34px;
  }

  .A単odeLanzamiento {
    margin-left: 47px;
  }
}

@media screen and (max-width: 800px) and (min-width: 150px){

  #burger:checked ~ .menu-desplazable {
    display: flex;
    transform: translate(0);
  }

  .containernavegacion {
    visibility: hidden;
  }

  .container-burger {
    visibility: visible;
  }

  .burger {
    display: flex;
  }

  .containertituloprincipal {
    width: 100%;
  }

  .primerparrafo {
    margin-left: 16px;
    width: 100%;
    font-size: 14px;
  }

  .TituloPrincipal {
    margin-left: 16px;
    width: 85%;
    font-size: 36px;
    
  }

  .botonConoceMas {
    margin-left: 16px;
    margin-top: auto;
    margin-right: 16px;
    width: 100%;
    font-size: 16px;
  }

  .containerpoligonoyepisodios {
    height: 1203.5px;
  }

  .poligono {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
    background-color: blue;
    height: 100%;

  }

  
  .episodio {
    margin-left: 16px;
    margin-top: 64px;
    width: 100%;
   
    
  }

  

  .containerpodcast {
    height: 100%;
    width: 100%;
    margin-top: 21px;
    
   
    
  }

  .podcast {
    margin-left: 11px;
    width: 100%;
    height: 225px;
   
   
  }

  .reproductor {
    flex-wrap: nowrap;
    width: 100%;
   
    
  }

 .contenedorimgtlf {
    position: relative;
    top: -100px;
    left: -35px;
    height: 519px;
    width: 360px;
    margin: auto;
    margin-top: 48px;
    
  }

  
  

  .contenedorsegundotituloyparrafo {
    margin-top: 27px;
    margin-left: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .contenedorparrafo2 {
    margin-top: 8px;
    height: 50%;
    width: 288px;
  }

  
  
  .contenedorInvitadas-estelares {
    font-size: 36px;
    margin-left: 16px;
    
    display: flex;
    
  }

  #filadefotos {
   flex-direction: column;
    margin-top: 14px;
    width: 100%;

  }

  #segundafiladefotos {
    flex-direction: column;
   width: 100%;
    
  }

  .imagen{
    width: 100%;

  }

  .contenedorAlgunosdenuestrostemas {
    margin-top: 24px;
    margin-left: 10px;
    width: 100%;
    font-size: 36px;

  }

  

  #contenedordeiconos {
    margin-top: 34px;
    margin-left:100px;
 
   }

  #contenedordelsegundopoligono {
    height: 341px;
    margin-top: 42px;
  }

  .poligono2 {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
    background-color: blue;
    width: 100%;
    
    
  }

  .ContenedorQueresLasUltimasNovedades{
    margin-top: 64px;
    height: 100%
   
  }

  .ContenedorQueresLasUltimasNovedades p:nth-child(1) {
     height: 126px;
     font-size: 36px;
     color: #FFFFFF;
     letter-spacing: 0;
     text-align: center;
     line-height: 42px;

  }

  .contenedordelbotonEscuchaLosEpisodios button {
    width: 288px;
  }

  #A単odeLanzamiento {
     margin-left: 47px;
     margin-top: 24px;

  }

  .contenedorFinal {
    flex-direction: column;
  }

  .redesSociales {
    margin: 5px;
    margin-left: 30px;
    
    
    }
  


